/*** ESSENTIAL STYLES ***/
.main_menu-menu, .main_menu-menu * {
   margin:0;
   padding:0;
   list-style:none;
}
.main_menu-menu {
   margin:2px 0 0 1px; /* top right bottom left */
   line-height:1.0;
}
.main_menu-menu ul {
   position:absolute;
   top:-999em;
   width:235px; /* submenu item width - offest below must match */
}
.main_menu-menu li {
   width:235px; /* Default to 'auto'. If specified, the submenu item width and offset must match */
}
.main_menu-menu li a {
   text-align:center;
}
.main_menu-menu li li a {
   text-align:left;
}
.main_menu-menu ul li {
   width:100%;
}
.main_menu-menu li ul  {
   display:none;
}
.main_menu-menu li:hover ul  {
   display:block;
}
.main_menu-menu li li ul  {
   display:none;
}
.main_menu-menu li:hover li:hover ul  {
   display:block;
}
.main_menu-menu li:hover {
   visibility:inherit; /* fixes IE7 'sticky bug' */
}
.main_menu-menu li {
   float:left;
   position:relative;
}
.main_menu-menu a {
   display:block;
   position:relative;
}
.main_menu-menu li:hover ul,
.main_menu-menu li.sfHover ul {
   left:0;
   top:22px; /* match top ul list item height */
   z-index:2;
}
ul.main_menu-menu li:hover li ul,
ul.main_menu-menu li.sfHover li ul {
   top:-999em;
}
ul.main_menu-menu li li:hover ul,
ul.main_menu-menu li li.sfHover ul {
   left:235px; /* submenu offest - must match ul width above */
   top:0;
}
ul.main_menu-menu li li:hover li ul,
ul.main_menu-menu li li.sfHover li ul {
   top:-999em;
}
ul.main_menu-menu li li li:hover ul,
ul.main_menu-menu li li li.sfHover ul {
   left:235px; /* submenu offest - must match ul width above */
   top:0;
}

/*** DEMO SKIN ***/
.main_menu-menu {
   float:left;
   margin-bottom:1em;
	font-family:Tahoma, Verdana, Arial;
	font-size:12px; 
	font-weight:bold;   /* bold or normal */
	font-style:normal; /* italic or normal */
}
.main_menu-menu a {
   border-right:1px solid #FFFFFF;
   border-top:1px solid #FFFFFF;
   border-bottom:1px solid #FFFFFF;
   padding:5px 15px;
   text-decoration:none;
}
.main_menu-menu li.first a { 
    border-left:1px solid #FFFFFF;
    }
.main_menu-menu a, .main_menu-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
   color:#FFFFFF;
}
.main_menu-menu a:hover, .main_menu-menu a:active  { /* visited pseudo selector so IE6 applies text colour*/
   color:#00FF00;
}

.main_menu-menu li li a { 
    border:1px solid #FFFFFF; border-top-width:0; 
    }
.main_menu-menu li li li.first a { 
    border:1px solid #FFFFFF; 
    }
.main_menu-menu li {
   background:#008000;
}
.main_menu-menu li li {
   background:#008000;
}
.main_menu-menu li li li {
   background:#008000;
}
.main_menu-menu li:hover, .main_menu-menu li.sfHover,
.main_menu-menu a:focus, .main_menu-menu a:hover, .main_menu-menu a:active {
   background:#008000;
   outline:0;
}

.main_menu-menu li li a, .main_menu-menu li li a:visited { 
    color:#FFFFFF;
}

.main_menu-menu li li a:hover, .main_menu-menu li li a:active, .main_menu-menu li li a:focus { 
  color: #00FF00;
} 

/*** arrows **/
.main_menu-menu a.sf-with-ul {
   padding-right:2.25em;
   min-width:1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
   position:absolute;
   display:block;
   right:.75em;
   top:1.05em; /* IE6 only */
   width:10px;
   height:10px;
   text-indent:-999em;
   overflow:hidden;
   background:url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
   top:.8em;
   background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
   background-position:-10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.main_menu-menu ul .sf-sub-indicator { background-position:-10px 0; }
.main_menu-menu ul a > .sf-sub-indicator { background-position:0 0; }
/* apply hovers to modern browsers */
.main_menu-menu ul a:focus > .sf-sub-indicator,
.main_menu-menu ul a:hover > .sf-sub-indicator,
.main_menu-menu ul a:active > .sf-sub-indicator,
.main_menu-menu ul li:hover > a > .sf-sub-indicator,
.main_menu-menu ul li.sfHover > a > .sf-sub-indicator {
   background-position:-10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
   background:url('../images/shadow.png') no-repeat bottom right;
   padding:0 8px 9px 0;
   -moz-border-radius-bottomleft:17px;
   -moz-border-radius-topright:17px;
   -webkit-border-top-right-radius:17px;
   -webkit-border-bottom-left-radius:17px;
}
.sf-shadow ul.sf-shadow-off {
   background:transparent;
}
