<style TYPE="text/css">
<!--
A{ font-family: Arial, Verdana; font-size: 10pt; font-weight: bold }
P{ font-family: Arial, Verdana; font-size: 10pt; font-weight: bold; text-align: justify }
H1{background: #FFFF00; color: #000000;  font-size: 12pt; font-weight: bold; font-family: Arial, Verdana; text-align: justify }
STRONG{ font-family: Arial, Verdana; font-size: 12pt; font-weight: bold; text-align: center }
li{ font-family: Arial, Verdana; font-size: 10pt; font-weight: bold }
td{ font-family: Arial, Verdana; font-size: 10pt; font-weight: bold; text-align: justify }

-->
</style>