/* Text Elements */

span.text-element.text-1 {
  float: left;
  width: auto;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a.link-text.text-link-1 {
  color: #515bc9;
  text-align: left;
  font-weight: 700;
  font-size: 23px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.59;
}