body {
 margin : 0;
 padding : 0;
 background-color : #ffffff;
 color : #000000;
 }
 p, ul, ol, li {
 font : 10pt Arial,geneva,helvetica;
 }
 h1 {
 font : bold 14pt Arial, Helvetica, geneva;
 }
 h2 {
 font : bold 12pt Arial, Helvetica, geneva;
 }
 h3   {
 font-family: Arial,geneva,helvetica; font-size: 8pt;
 }

td { font-weight: normal; font-style: normal; text-align: left; font-family: Arial, Verdana; font-size: 10pt }
td.titolo { font-weight: bold; font-style: normal; text-align: left; font-family: Arial, Verdana; font-size: 12pt }
td.sottotitolo { font-weight: bold; font-style: normal; text-align: left; font-family: Arial, Verdana; font-size: 10pt }
td.attivo { color: green; background-color : #DEDEDE }
a:hover{ color: rgb(255,0,0) }





 #header {
 position : fixed;
 width : 100%;
 height : 80px;
 top : 0;
 right : 0;
 bottom : auto;
 left : 0;

 }
 #leftnavigation {
 position : fixed;
 height : auto;
 top : 80px;
 left : 0;
 width : 230px;
 margin : 0px 0px 0px 10px;
 color : #000000;
 padding : 3px;
 overflow : auto;
 }
 #content {
 position : fixed;
 top : 80px;
 bottom : 40px;
 margin : 0px 0px 0px 235px;
 width : auto;
 height : auto;
 padding-left : 5px;
 padding-right : 12px;
 color : #000000;
 border-left : 2px solid #cccccc;
 overflow : auto;
 }
 #content h1, #content h2 {
 color : #cc0000;
 }
 #footer {
 position: fixed;
 width: 100%;
 height: 40px;
 top: auto;
 right: 0;
 bottom: 0;
 background-color : green;
 }

 #footer p {
 color : #ffffff; }